<div class="curriculo">
    <div class="dadospessoais">
        <h5>Dados pessoais</h5>
        <ul class="dados">
            <li>Nome: Allan Ricardo Greffin</li>
            <li>Nascimento: 03/03/1990 <span class="estadocivil">Estado Civil: Solteiro</span></li>
            <li>Estado: Rio de Janeiro <span class="bairro">Bairro: Penha</span></li>
            <li>Email: allangreffin@hotmail.com</li>
            <li>Celular: (21)98879-8492</li>
            <li>Linkedin: <a href="https://www.linkedin.com/in/allan-greffin-53832161/">https://www.linkedin.com/in/allan-greffin-53832161/</a></li>
            <li>GitHub: <a href="https://github.com/AllanGreffin">https://github.com/AllanGreffin</a></li>
        </ul>
    </div>

    <div class="objetivo">
        <h5>Objetivo profissional</h5>
        <p>Atuar no mercado de desenvolvimento de software, buscando melhoria
            contínua, a fim de ser capaz de desenvolver sistemas cada vez mais prazerosos e
            eficientes para os usuários.
        </p>
    </div>

    <div class="resumoprofissional">
        <h5>Resumo Profissional</h5>
        <p>Desenvolvedor com aspiração de senioridade full-stack com conhecimentos nas
            áreas de web, com ASP.Net MVC, Html, CSS, JavaScript, Bootstrap e
            framework Angular.
            Desenvolvimento mobile com uso de Xamarin com C# para aplicativos
            multiplataforma (Android e iOS) e Java com Android Studio, para aplicativos
            exclusivamente Android.
            Banco de dados SQL com MySQL, postgres e NoSQL com Realtime Database
            (Firebase) e método ágil Scrum.
            Estudante de Análise e Desenvolvimento de Sistemas no Instituto Infnet.
            Ex-atuante do setor de elétrica, como técnico em eletrotécnica (CEFET-RJ) e
            estudante de engenharia elétrica (UERJ), área em que trabalhei como executor
            de manutenções e projetos e, posteriormente, na área de planejamento.
        </p>
    </div>

    <div class="formacao">
        <h5>Formação Acadêmica</h5>
        <ul>
            <li>Análise e Desenvolvimento de Sistemas – Instituto Infnet – 2019.2 – 2022.2
                (previsão)
            </li>
            <li>Engenharia Elétrica - Ênfase em Sistemas e Computação, UERJ - Universidade
                Estadual do Rio de Janeiro. (Trancado)
            </li>
            <li>Ensino Médio Profissionalizante Técnico em Eletrotécnica - Cefet-RJ (Junho de
                2010)
            </li>
        </ul>
    </div>
    <div class="idiomas">
        <h5>Idiomas</h5>
        <ul>
            <li>Português - Fluente/Nativo</li>
            <li>Inglês - Fluente/Nativo</li>
            <li>Espanhol - Básico</li>
        </ul>
    </div>
    <div class="historico">
        <h5>Histórico Profissional</h5>
        <div><span class="empresa">K2 Sistemas</span> - Estagiário de desenvolvimento de sistemas – Maio/2019 à Junho/2020</div>
        Estagiário de desenvolvimento de sistemas – Maio/2019 à Junho/2020
        <p>Empresa que me proporcionou oportunidade na área de desenvolvimento. Com
            eles tive contato com projetos profissionais na área. Atuei com linguagem Java
            e também em especial com C#, através de desenvolvimento de aplicativo multi
            plataforma (Android e iOS) com uso de Xamarin.
        </p>

        <div><span class="empresa">Bio-Manguinhos (Fiocruz)</span> - Técnico de planejamento - de Março/2015 a Março/2017</div>
        <p>Comunicação diária com clientes, a fim de sempre atender à demanda de
            solicitação de serviços e planejamento junto à área técnica.
            Realizava execução de relatórios de disponibilidade de equipamentos e de mão
            de obra.
            Planejamento de manutenções periódicas
        </p>
        
        <div><span class="empresa">Montagens e Projetos Especiais (MPE)</span> - Técnico (Manutenção Industrial) - de 2009 a 2012</div>
        <p>
        Empresa que me acolheu como estagiário ao final do meu curso técnico em
        Eletrotécnica.
        Após a conclusão do estágio fui efetivado, trabalhando sempre na área de
        manutenção em campo, em sistemas de baixa e alta tensão em todo sistema de
        distribuição nos aeroportos Internacional do Rio de Janeiro e no Santos
        Dumont.
        Após 2 anos na função de técnico de manutenção obtive promoção ao setor de
        planejamento, ao qual me tornei responsável, elaborando programação de
        serviços, relatórios de desempenho de equipamentos e de funcionários e avisos
        de influência para realização de serviços.
        </p>
    </div>
</div>