
<div class="row">
  <div class="form-group col-6">
    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" id="FirstName" placeholder="Enter First Name" [(ngModel)]="FirstName">
  </div>
  
  <div class="form-group col-6">
    <label for="LastName">Last Name</label>
    <input type="text" class="form-control" id="LasttName" placeholder="Enter Last Name" [(ngModel)]="LastName">
  </div>
</div>

<div class="row">
  <div class="form-group col-6">
    <label for="Email">Email</label>
    <input type="email" class="form-control" id="Email" placeholder="email@email.com" [(ngModel)]="Email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="form-group col-6">
    <label for="ConfirmEmail">confirmar Email</label>
    <input type="email" class="form-control" id="ConfirmEmail" placeholder="email@email.com" [(ngModel)]="ConfirmEmail">
  </div>
</div>

<div class="row">
  <div class="form-group col-5">
    <label for="Password">Senha</label>
    <input type="password" class="form-control" id="Password" placeholder="Password" [(ngModel)]="Senha">
  </div>
</div>

<div class="row">
  <div class="form-group col-5">
    <label for="ConfirmPassword">Confirmar Senha</label>
    <input type="password" class="form-control" id="ConfirmPassword" placeholder="confirm Password" [(ngModel)]="ConfirmaSenha">
  </div>
</div>

<div class="row">
  <div class="form-group col-4">
    <label for="Cep">Cep</label>
    <input type="text" class="form-control" id="Cep" [(ngModel)]="Cep">
  </div>
</div>

<div class="row">
  <div class="form-group col-5">
    <label for="Estado">Estado</label>
    <input type="text" class="form-control" id="Estado">
  </div>

  <div class="form-group col-5">
    <label for="Cidade">Cidade</label>
    <input type="text" class="form-control" id="Cidade">
  </div>
</div>

<div class="row">
  <div class="form-group col-4">
    <label for="Bairro">Bairro</label>
    <input type="text" class="form-control" id="Bairro">
  </div>

  <div class="form-group col-6">
    <label for="Rua">Rua</label>
    <input type="text" class="form-control" id="Rua">
  </div>
</div>

<div class="row">
  <div class="form-group col-2">
    <label for="Numero">Número</label>
    <input type="text" class="form-control" id="Numero">
  </div>

  <div class="form-group col-3">
    <label for="Complemento">Complemento</label>
    <input type="text" class="form-control" id="Complemento">
  </div>

  <div class="form-group">
    <label for="Referencia">Referência</label>
    <input type="text" class="form-control" id="Referencia">
  </div>
</div>

<button (click)="EnviarForm()" class="btn btn-primary">Cadastrar</button>