<div class="codeparallax parallax">
    <div class="showparallax"></div>
    <div class="conteudo">
        <h4>Seja bem vindo(a) à minha página!</h4>
        <div>
            <p>Esta página foi criada com angular cli e utiliza angular v9.</p>
            <p>As imagens desta página utilizam efeito de parallax. No caso de estar visualizando a mesma em um dispositivo mobile, é possível do efeito estar desligado devido à má aceitação do efeitos nestes aparelhos.</p>
            <p>Esta página possui como primeira função apenas tornar público parte do conhecimento de programação adquirido por mim. 
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aut quibusdam, maxime tempora totam commodi voluptate ea laudantium ex nulla cumque corrupti sequi, quaerat, reiciendis neque rerum assumenda doloribus nam?</p>
            <h5>Minhas redes sociais profissionais:</h5>
            <ul>
                <li>Linkedin: <a href="https://www.linkedin.com/in/allan-greffin-53832161/">Allan Greffin</a></li>
                <li>Github: <a href="https://github.com/AllanGreffin">Repositório</a></li>
            </ul>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
        </div>
    </div>
</div>

<div class="beachparallax parallax">
    <div class="showparallax"></div>
    <div class="conteudo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
    </div>
</div>

