<div class="codeparallax"></div>

<div>
    <h4>Seja bem vindo(a) à minha página!</h4>
    <div>
        <p>Esta página foi criada com angular cli e utiliza angular v9.</p>
        <p>Esta página possui como primeira função apenas tornar público parte do conhecimento de programação adquirido por mim. 
        </p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi aut quibusdam, maxime tempora totam commodi voluptate ea laudantium ex nulla cumque corrupti sequi, quaerat, reiciendis neque rerum assumenda doloribus nam?</p>
    </div>

</div>

<h5>Minhas redes sociais:</h5>
<ul>
    <li>Linkedin: <a href="https://www.linkedin.com/in/allan-greffin-53832161/">Allan Greffin</a></li>
    <li>Github Repo: <a href="https://github.com/Hilkan/MyRepo">Repositório</a></li>
</ul>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>

<div class="beachparallax"></div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore sapiente enim unde ad velit, illo ex error doloribus assumenda distinctio. Sint alias molestias ducimus voluptatum soluta explicabo ad! Magnam, consequatur!</p>